Makefile
ODLConfigVersion.cmake
odlConfig.h
libodlC.dylib
libodlOC.dylib
libodlCi.a
libodlOCi.a
libodlC.so
CMakeFiles/
*.xcscheme
x64/
odLogging.dir/
odlC.dir/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
CMakeCache.txt
INSTALL.vcxproj
INSTALL.vcxproj.filters
ODL.sln
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
cmake_install.cmake
install_manifest.txt
odLogging.vcxproj
odLogging.vcxproj.filters
odlC.vcxproj
odlC.vcxproj.filters
CPackConfig.cmake
CPackSourceConfig.cmake
